</br></br></br>
</br></br></br></br></br></br>


<div class="container" ng-controller="SubmitOrderController">
    <h2>Submit Your Order</h2>
    <form role="form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" ng-model="username">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" ng-model="address">
        </div>
        <button type="button" ng-click="submitOrder()">Submit Order</button>
        <form>
</div>
